---
---

html {
    width: 100% !important;
}
.navbar-header {
    font-size: 3rem;
    margin: 10px 0;
}
img {
    max-width: 100%;
}
.list-products {
    font-size: 2rem;
    p {
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}
.navbar-nav {
    a {
       line-height: 30px !important;
    }
    img {
        width: 30px;
    }
}
.jumbotron {
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
    }
}