---
---

html {
    width: 100% !important;
}
.navbar-header {
    font-size: 3rem;
    margin: 10px 0;
}
.logo {
    max-width: 30px;
}
img {
    max-width: 100%;
}
.list-products {
    font-size: 2rem;
    p {
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}
.navbar-global {
    .navbar-header {
        .navbar-brand {
            padding: 0;
            img {
                width: 60px;
                height: 100%;
            }
        }
    }
}