<div class="modal modal-center" id="changelog" tabindex="-1" role="dialog" aria-labelledby="changelog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="glyph glyph-cancel" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title" id="changelog-label">Changelog</h4>
            </div>
            <div class="modal-body">
                <dl>
                    <dt class="m-t-sm">0.1.0</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Initialize flyve-mdm-bootstrap.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
